html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.blog-details-content img {
    max-width: 100%;
}
body {
    background-image: url('/indir.jpeg'); /* Arka plan resmi */
    background-size: cover; /* Resmin tüm alaný kaplamasýný saðlar */
    background-position: center; /* Resmin ortalanmasýný saðlar */
    background-repeat: no-repeat; /* Resmin tekrarlanmamasýný saðlar */
    background-attachment: fixed; /* Arka planýn kaydýrýldýðýnda sabit kalmasýný saðlar */
    min-height: 100vh; /* Sayfanýn en az 100vh yüksekliðinde olmasýný saðlar */
    margin: 0; /* Varsayýlan marginleri kaldýrýr */
}

